h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

p{
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}

.button {
    background: #fff;
    transition: .4s;
    max-width: max-content;
    padding: 10px 20px;
    border: 1px solid #141313;
    
    & span {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #141313;
        transition: .4s;
    }

    &:hover {
        background: #e1ad62;
        border: 1px solid #e1ad62;

        & span {
            color: #fff;
        }
    }

    &.color {
        background: #e1ad62;
        border: 1px solid #e1ad62;

        & span {
            color: #fff;
        }

        &:hover {
            background: #fff;
            border: 1px solid #141313;

            & span {
                color: #141313;
            }
        }
    }
    
    &.black {
        background: #141313;
        border: 1px solid #141313;

        & span {
            color: #fff;
        }

        &:hover {
            background: #e1ad62;
            border: 1px solid #e1ad62;
        }
    }
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

a {
    text-decoration: none;
    line-height: normal;
    cursor: pointer;
    transition: .4s;
}

h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #141313;
}

.section-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    color: #e1ad62;
    text-transform: uppercase;
}

.text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #141313;
}

.text-light {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #141313;
}

.white {
    color: #fff;
}

.black {
    color: #141313;
}

img, svg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Poppins", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    scrollbar-width: thin;
}

::placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #141313;
    opacity: .5;
}

::-webkit-input-placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #141313;
    opacity: .5;
}

::-moz-placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #141313;
    opacity: .5;
}

:-ms-input-placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #141313;
    opacity: .5;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fff;

    &.hidden {
        overflow: hidden;
    }
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 130px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.opacite {
    background: rgba(0, 0, 0, .5);
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px);

    &.active {
        display: block;
    }
}

.header {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    width: 100vw;
    background: #fff;
    border-bottom: 1px solid #141313;

    &__row {
        justify-content: space-between;
        padding: 23px 0;
        align-items: center;
        gap: 12px;
    }

    &__logo {
        max-width: 234px;
    }

    &__phone {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 16px;
        color: #141313;
        margin-left: auto;

        &:hover {
            color: #e1ad62;
        }
    }
}

.burger {
    &__button {
        border: 1px solid #141313;
        padding: 10px 8px;
        flex-shrink: 0;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

.footer {
    flex: 0 0 auto;
    background: #131414;
    position: relative;
    
    &__left {
        border-right: 1px solid #fffbef;
        display: flex;
        flex-direction: column;
        padding: 75px 0 10px 170px;
    }

    &__row {
        justify-content: space-between;
    }

    &__logo {
        max-width: 303px;
        margin-bottom: 16px;
    }

    &__text {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        max-width: 303px;
        margin-bottom: 16px;
        min-height: 130px;
    }

    &__dig {
        display: flex;
        gap: 5px;
        max-width: max-content;

        &-left {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        &-title {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
        }

        &-text {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 14px;
            color: #938c89;

            &-second {
                margin-right: 4px;
            }
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background: #fffbef;
        margin: 16px 0 12px 0;
    }

    &__nav {
        display: flex;
        gap: 35px;
        padding: 75px 35px 75px 85px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-title {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 16px;
            color: #fff;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        &-item {
            max-width: 200px;
            
            & a {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 14px;
                color: #fff;
            }
        }
    }
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.first {
    background: #141313;
    margin-top: 87px;
    position: relative;

    &__img {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;

        & img:first-child {
            width: 35%;
        }

        & img:last-child {
            width: 65%;
        }
    }

    & .container {
        position: relative;
        z-index: 2;
    }

    &__row {
        gap: 30px;
        max-width: 580px;
        flex-direction: column;
        padding: 110px 0 85px 0;
    }

    &__line {
        height: 3px;
        width: 87px;
        background: #e1ad62;
    }

    & .text {
        color: #fff;
        min-height: 130px;
    }
}

.type {
    &__row {
        flex-wrap: wrap;
        background: #d9d9d9;;
    }

    &__item {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        height: 223px;
        background: #fff;
        transition: .4s;

        & svg {
            height: 40px;
            transition: .4s;
            
            & path {
                transition: .4s;
            }
        }

        &-title {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #141313;
            transition: .4s;
        }

        &:hover {
            background: #141313;

            & svg {
                & path {
                    fill: #fff;
                    stroke: #fff;
                }
            }

            & .type__item-title {
                color: #fff;
            }
        }

        &:last-child {
            &:hover {
                & svg {
                    & path {
                        fill: #141313;
                    }
                }
            }
        }
    }
}

.benefit {
    &__right {
        max-width: 450px;
        flex-shrink: 0;
    }

    &__left {
        display: flex;
        gap: 30px;
        align-items: start;

        & img:first-child {
            max-width: 306px;
        }

        & img:last-child {
            margin-top: 105px;
            max-width: 306px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-around;
        padding: 100px 0;
        gap: 20px;
    }

    &__title {
        margin-top: 25px;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: -15px;       
            left: -30px;      
            width: 65px;       
            height: 65px;
            background-color: #e1ad62;
            z-index: -1;
        }
    }

    &__text {
        margin: 15px 0 25px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.popular {
    &__row {
        padding: 100px 0;
        flex-direction: column;
        gap: 50px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 35px;
        position: relative;

        &-line {
            position: absolute;
            height: 220px;
            width: 4px;
            right: 0;
            top: 50px;
            background: #e1ad62;
        }

        & .text {
            max-width: 450px;
            margin-bottom: 20px;
        }
    }

    &__title {
        position: relative;
        max-width: 780px;
        margin: 15px 0 25px 0;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: -15px;       
            left: -30px;      
            width: 65px;       
            height: 65px;
            background-color: #e1ad62;
            z-index: -1;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: calc(33.333% - 10px);
        padding: 22px;
        border: 1px solid #141313;

        &-mobile {
            display: none;
        }

        &-overlay {
            display: none;
        }

        & a {
            max-width: 100%;
            text-align: center;
            margin-top: auto;
        }

        &-title {
            margin-bottom: 10px;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 18px;
            color: #141313;
        }

        &-subtitle {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 12px;
            color: #a7a19e;
            margin-bottom: 25px;
        }

        & img {
            height: 280px;
            width: 100%;
            margin-bottom: 22px;
        }
    }
}

.plus {
    background: #141313;

    &__row {
        gap: 50px;
        padding: 30px 0;
    }

    &__item {
        display: flex;
        gap: 20px;
        width: calc(33.333% - 34px);

        &-left {
            flex-shrink: 0;
        }

        &-title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
        }

        & .text-light {
            color: #fff;
        }
    }
}

.about {
    &__row {
        padding: 70px 0;
        gap: 90px;
        justify-content: space-between;
    }

    &__content {
        gap: 20px;
        display: flex;
        flex-direction: column;
        max-width: 385px;
        flex-shrink: 0;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 22px;
        gap: 15px;
    }

    &__item {
        width: calc(50% - 8px);
        display: flex;
        gap: 60px;

        &-left {
            flex-shrink: 0;
            position: relative;
            z-index: 2;

            & svg {
                max-width: 60px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 20px;       
                left: 22px;      
                width: 65px;       
                height: 65px;
                background-color: #e1ad62;
                z-index: -1;
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        &-title {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 21px;
            line-height: 129%;
            color: #141313;
        }
    }
}

.portfolio {
    & .container {
        padding: 0;
    }

    &__left {
        padding: 40px 80px 80px 130px;
        display: flex;
        flex-direction: column;
        max-width: 610px;

        & h2, .text {
            color: #fff;
        }

        & .text {
            min-height: 135px;
            margin-bottom: 20px;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        margin-left: 11px;

        &::before {
            content: "";
            position: absolute;
            top: 0;       
            left: -11px;      
            width: 5px;       
            height: 100%;
            background-color: #e1ad62;
            z-index: -1;
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        margin: 25px 0 35px 35px;

        &::before {
            content: "";
            position: absolute;
            top: -15px;       
            left: -35px;      
            width: 65px;       
            height: 65px;
            background-color: #e1ad62;
            z-index: -1;
        }
    }

    &__right {
        display: flex;
        overflow: hidden;

        & img {
            width: 33.33%;
            max-height: 550px;
            height: 100%;
        }
    }
}

.need {
    &__row {
        padding: 75px 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 562px;
        margin: 0 auto;
        gap: 22px;
    }

    &__line {
        background: #e1ad62;
        width: 236px;
        height: 3px;
    }

    & button {
        padding: 17px 37px;
    }
}

.work {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px 0 100px 0;
        flex-shrink: 0;
        max-width: 400px;

        &-line {
            width: 65px;
            height: 3px;
            background: #e1ad62;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 7px;
            list-style: disc;

            & li {
                list-style: disc;
                margin-left: 20px;
            }
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        margin: 5px 0 20px 35px;

        &::before {
            content: "";
            position: absolute;
            top: -15px;       
            left: -35px;      
            width: 65px;       
            height: 65px;
            background-color: #e1ad62;
            z-index: -1;
        }
    }
}

.price {
    background: #141313;

    &__row {
        flex-direction: column;
        padding: 80px 0;
        align-items: center;
        gap: 20px;

        & h2, h3, h4, p, li {
            color: #fff;
        }

        & .text {
            text-align: center;
            max-width: 480px;
        }
    }

    &__line {
        height: 4px;
        width: 400px;
        background: #e1ad62;
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
    }

    &__item {
        width: calc(50% - 25px);
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #fff;
        gap: 20px;

        &-title {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.05em;
            color: #fff;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 14px;
            list-style: disc;
            color: #fff;
            flex-wrap: wrap;
            max-height: 150px;

            & li {
                margin-left: 20px;
                list-style: disc;
            }
        }
    }

    & .button.black {
        border: 1px solid #fff;
        padding: 20px 30px;
    }
}

.swiper {
    width: 100%;

    &-slide {
        width: 100%;
        max-height: 534px;

        & img {
            width: 100%;
            height: 100%;
        }
    }
}

.slider {
    &__row {
        padding: 80px 0;
        gap: 15px;
    }

    &__left {
        width: calc(50% - 8px);

        & .button {
            width: 100%;
            text-align: center;
            max-width: 100%;
        }
    }

    &__right {
        width: calc(50% - 8px);

        & img {
            width: 100%;
            height: 100%;
            max-height: 280px;
            margin-top: 85px;
        }
    }

    &__buttons {
        display: flex;
        gap: 12px;
        margin: 15px 0 40px auto;
        max-width: max-content;

        &-circle {
            border-radius: 35px;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #141313;

            &.swiper-button-disabled {
                opacity: .4;
                pointer-events: none;
            }
        }
    }
}

.review {
    &__row {
        padding: 80px 0;
        flex-direction: column;

        & .text {
            max-width: 390px;
        }
    }

    &__line {
        height: 3px;
        background: #e1ad62;
        width: 236px;
        margin: 15px 0;
    }

    &__wrapper {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 22px;
        gap: 11px;
        background: #141313;
        width: calc(50% - 8px);

        & h4 {
            text-transform: uppercase;
            color: #fff;
            max-width: 410px;
        }

        & p {
            color: #fff;
        }

        &-line {
            height: 1px;
            background: #e1ad62;
            width: 236px;
        }
    }
}

.form {
    background: #141313;

    &__row {
        padding: 60px 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        & h2, h3, h4, p {
            color: #fff;
        }

        & .text-light {
            max-width: 535px;
            margin-bottom: 10px;
            text-align: center;
        }
    }

    & form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 100%;

        & button {
            padding: 20px 30px;
        }
    }

    &__top {
        display: flex;
        gap: 15px;
        width: 100%;
        justify-content: space-between;

        & input {
            width: calc(50% - 8px);
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            color: #141313;
            padding: 22px;

            &:focus {
                outline: none;
            }
        }
    }
}

.faq {
    &__row {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 80px 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    &__item {
        border: 1px solid #141313;
        width: 100%;

        &-line {
            width: 236px;
            height: 1px;
            background: #e1ad62;
            margin: 0 0 15px 0;
        }

        &-body {
            padding: 0 25px;
            max-width: 800px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease,
        }

        &-head {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 100%;
            padding: 22px 25px;
            align-items: center;

            & span {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                color: #141313;
            }
        }

        &-icon {
            transition: transform 0.4s ease;
        }

        &.active {
            & .faq__item-body {
                max-height: 300px;
                padding: 0 25px 22px 25px;
            }

            & .faq__item-icon {
                transform: rotate(90deg);
            }
        }
    }
}

.mobile {
    display: none;
}

@media (max-width: 1440px) {
    .container {
        padding: 0 80px;
    }

    .first {
        &__row {
            padding: 60px 0;
        }
    }

    .benefit {
        &__row {
            padding: 60px 0;
        }

        &__left {
            gap: 20px;

            & img {
                &:first-child {
                    max-width: 180px;
                }

                &:last-child {
                    max-width: 180px;
                    margin-top: 250px;
                }
            }
        }

        &__text {
            margin: 10px 0 15px 0;
        }

        &__content {
            gap: 10px;
        }
    }

    .popular {
        &__item {
            & img {
                height: 200px;
            }
        }

        &__row {
            padding: 60px 0;
        }
    }

    .plus {
        &__item {
            width: calc(33.333% - 20px);
        }

        &__row {
            gap: 30px;
        }
    }

    .portfolio {
        &__left {
            max-width: 500px;
            padding: 40px 60px 60px 80px;

            & .text {
                min-height: 100px;
            }
        }
    }

    .about {
        &__row {
            padding: 60px 0;
            gap: 30px;
        }

        &__content {
            max-width: 270px;
        }

        &__item {
            gap: 35px;
        }
    }

    .work {
        &__img {
            display: flex;
            align-items: center;
        }

        &__content {
            padding: 50px 0;
            gap: 15px;
        }
    }

    .price {
        &__item {
            &-list {
                flex-wrap: nowrap;
                max-height: none;
                gap: 10px;
            }
        }

        &__row {
            padding: 60px 0;
        }
    }

    .slider {
        &__row {
            padding: 60px 0;
        }
    }

    .review {
        &__row {
            padding: 60px 0;
        }
    }

    .faq {
        &__row {
            padding: 60px 0;
        }
    }

    .footer {
        &__left {
            padding: 60px 0 10px 80px;
        }

        &__logo {
            max-width: 230px;
        }

        &__nav {
            gap: 20px;
            padding: 60px 30px 60px 30px;
        }

        &__list {
            &-item {
                max-width: 170px;
            }
        }

        &__text {
            max-width: 230px;
        }

        &__dig {
            &-text {
                &-second {
                    max-width: 230px;
                }
            }
        }

        &__right {
            & iframe {
                width: 200px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 40px;
    }

    h1 {
        font-size: 28px;
    }

    .text {
        font-size: 14px;
    }

    .text-light {
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
    }

    .portfolio {
        &__left {
            max-width: 370px;
            padding: 40px 40px 40px 40px;
        }

        &__title {
            margin: 20px 0 20px 15px;

            &::before {
                top: -5px;
                left: -15px;
                width: 35px;
                height: 35px;
            }
        }
    }

    .button {
        & span {
            font-size: 14px;
        }
    }

    .header {
        &__logo {
            max-width: 200px;
        }

        &__phone {
            font-size: 14px;
        }
    }

    .first {
        &__row {
            gap: 20px;
            max-width: 450px;
            padding: 40px 0;
        }

        &__img {
            & img {
                &:first-child {
                    width: 30%;
                }

                &:last-child {
                    width: 70%;
                }
            }
        }
    }

    .type {
        &__item {
            height: 150px;
        }
    }

    .benefit {
        &__row {
            padding: 40px 0;
        }

        &__left {
            gap: 10px;

            & img {
                &:first-child {
                    max-width: 150px;
                }

                &:last-child {
                    max-width: 150px;
                    margin-top: 220px;
                }
            }
        }

        &__right {
            max-width: 100%;
            flex-shrink: inherit;
        }

        &__title {
            &::before {
                top: -10px;
                left: -15px;
                width: 35px;
                height: 35px;
            }
        }
    }

    .popular {
        &__row {
            padding: 40px 0;
            gap: 30px;
        }

        &__title {
            margin: 15px 0;

            &::before {
                top: -5px;
                left: -15px;
                width: 35px;
                height: 35px;
            }
        }

        &__top {
            &-line {
                height: 150px;
            }
        }

        &__wrapper {
            gap: 10px;
        }

        &__item {
            padding: 15px;
            width: calc(33.333% - 7px);

            &-subtitle {
                margin-bottom: 15px;
                font-size: 10px;
            }

            &-title {
                font-size: 16px;
            }

            & img {
                height: 120px;
            }
        }
    }

    .plus {
        &__item {
            width: calc(33.333% - 10px);
            gap: 10px;
        }

        &__row {
            gap: 15px;
        }
    }

    .about {
        &__row {
            padding: 40px 0;
            gap: 15px;
        }

        &__content {
            max-width: 220px;
        }

        &__wrapper {
            gap: 10px;
        }

        &__item {
            width: calc(50% - 5px);
            gap: 20px;

            &-left {
                &::before {
                    top: 8px;
                    left: 10px;
                    width: 35px;
                    height: 35px;
                }

                & svg {
                    max-width: 30px;
                }
            }
        }
    }

    .need {
        &__row {
            padding: 40px 0;
        }

        & button {
            padding: 10px 20px;
        }
    }

    .work {
        &__content {
            max-width: 300px;
            padding: 40px 0;
            gap: 10px;

            &-list {
                gap: 5px;
            }
        }

        &__title {
            margin: 5px 0 10px 15px;

            &::before {
                top: -5px;
                left: -15px;
                width: 35px;
                height: 35px;
            }
        }
    }

    .price {
        &__row {
            padding: 40px 0;
        }

        & .button.black {
            padding: 10px 20px
        }

        &__content {
            justify-content: space-around;
            gap: 20px;
        }
    }

    .slider {
        &__row {
            padding: 40px 0;
        }
    }

    .review {
        &__row {
            padding: 40px 0;
        }
    }

    .form {
        &__row {
            padding: 40px 0;
        }

        & form {
            & button {
                padding: 10px 20px;
            }
        }

        &__top {
            & input {
                padding: 10px 20px;
                font-size: 14px;
            }
        }
    }
    
    ::placeholder {
        font-size: 14px;
    }

    ::-webkit-input-placeholder {
        font-size: 14px;
    }

    ::-moz-placeholder {
        font-size: 14px;
    }

    :-ms-input-placeholder {
        font-size: 14px;
    }

    .faq {
        &__row {
            padding: 40px 0;
        }

        &__item {
            &-head {
                padding: 15px 20px;

                & span {
                    font-size: 14px;
                }
            }

            &-body {
                padding: 0px 20px;
            }

            &.active {
                & .faq__item-body {
                    padding: 0 20px 15px 20px;
                }
            }
        }
    }

    .footer {
        &__left {
            padding: 40px 0 10px 40px;
        }

        &__logo {
            max-width: 130px;
        }

        &__text {
            max-width: 100%;
            min-height: 100px;
        }

        &__dig {
            flex-direction: column;

            &-text {
                &-second {
                    max-width: 100%;
                }
            }
        }

        &__nav {
            padding: 40px 20px 40px 20px;
        }
        
        &__right {
            & iframe {
                width: 150px;
            }
        }
    }
}

@media (max-width: 768px) {
    .mobile {
        display: flex;
    }

    .decs {
        display: none;
    }

    .header {
        &__row {
            padding: 10px 0;
        }
    }

    h1 {
        font-size: 24px;
    }

    .text {
        font-size: 16px;
    }

    .text-light {
        font-size: 16px;
    }

    .button span {
        font-size: 16px;
    }

    .first {
        margin-top: 59px;

        &__img {
            & img {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    width: 100%;
                }
            }
        }

        &__row {
            padding: 30px 0;
            gap: 10px;
            max-width: 100%;
        }

        & .text {
            min-height: 110px;
        }
    }

    .container {
        padding: 0 20px;
    }

    .type {
        &__item {
            height: 125px;
            width: 50%;
        }
    }

    .benefit {
        &__row {
            padding: 30px 0;
            flex-direction: column;
        }

        &__mobile {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__title {
            margin-top: 0;
            margin-left: 15px;
        }

        &__left {
            justify-content: center;

            & img {
                &:first-child {
                    max-width: none;
                    max-height: 300px;
                }

                &:last-child {
                    margin-top: 0;
                    max-width: none;
                    max-height: 300px;
                }
            }
        }
    }

    .popular {
        &__row {
            padding: 30px 0;
        }

        &__item {
            padding: 10px;
            width: calc(50% - 5px);
        }

        &__top {
            padding: 0;

            &-line {
                height: 180px;
            }

            & .text {
                margin-bottom: 10px;
            }
        }

        &__title {
            margin: 10px 0 10px 15px;
            max-width: 95%;
        }

        &__row {
            gap: 20px;
        }
    }

    .plus {
        &__row {
            flex-direction: column;
        }

        &__item {
            width: 100%;
        
            & svg {
                max-width: 30px;
            }
        }
    }

    .about {
        &__content {
            max-width: 100%;
            gap: 10px;
        }

        &__row {
            padding: 30px 0;
            flex-direction: column;
        }
    }

    .portfolio {
        &__row {
            flex-direction: column;
        }

        &__mobile {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 30px 20px 15px 20px;
            order: 1;

            & h2, p {
                color: #fff;
            }
        }

        &__title {
            margin: 0;
            margin-left: 15px;
        }

        &__left {
            max-width: 100%;
            order: 3;
            padding: 15px 20px 30px 20px;
        }

        &__right {
            order: 2;

            & img {
                max-height: 300px;
            }
        }
    }

    .need {
        &__row {
            padding: 30px 0;
            gap: 10px;
        }
    }

    .work {
        &__content {
            padding: 0 0 30px 0;

            &-list {
                gap: 3px;
            }
        }

        &__img {
            max-width: 400px;
        }

        &__mobile {
            padding: 30px 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            & .text {
                max-width: 500px;
            }
        }

        &__row {
            flex-direction: column-reverse;
        }
    }

    .price {
        &__item {
            width: 100%;
        }

        &__content {
            justify-content: start;
            gap: 10px;
            flex-direction: column;
        }

        &__row {
            padding: 30px 0;
            gap: 10px;
        }
    }

    .slider {
        &__row {
            padding: 30px 0;
            gap: 10px;
        }

        &__left {
            width: calc(50% - 5px);
        }

        &__right {
            width: calc(50% - 5px);

            & img {
                max-height: 200px;
                margin-top: 40px;
            }
        }

        &__buttons {
            gap: 5px;
            margin: 15px 0 15px auto;
        }
    }

    .review {
        &__line {
            margin: 10px 0;
        }

        &__row {
            padding: 30px 0;
        }

        &__wrapper {
            margin-top: 10px;
            gap: 10px;
        }

        &__item {
            width: calc(50% - 5px);
            gap: 10px;
            padding: 10px;

            &-line {
                width: 100%;
            }
        }
    }

    .form {
        &__row {
            padding: 30px 0;
            gap: 10px;

            & h2 {
                text-align: center;
            }
        }

        & form {
            gap: 10px;
        }
    }

    .faq {
        &__row {
            padding: 30px 0;
            gap: 15px;
        }

        &__item {
            &-head {
                padding: 12px 16px;

                & span {
                    font-size: 16px;
                    text-align: start;
                }
            }

            &-line {
                margin: 0 0 12px 0;
            }

            &-icon {
                max-width: 12px;
            }

            &-body {
                padding: 0 12px;
            }
            
            &.active {
                & .faq__item-body {
                    padding: 0 12px 16px 12px;
                }
            }
        }
    }

    .footer {
        &__row {
            flex-direction: column-reverse;
        }

        &__right {
            & iframe {
                width: 100%;
                height: 200px;
            }
        }

        &__nav {
            padding: 20px;
            justify-content: space-between;
        }

        &__left {
            padding: 20px;
            border: none;
        }

        &__logo {
            max-width: 200px;
            margin-bottom: 10px;
        }

        &__text {
            min-height: 50px;
        }

        &__dig {
            flex-direction: row;
            gap: 20px;
            align-items: center;
        }
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }

    .first {
        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            & .button {
                max-width: 100%;
            }
        }

        & .text {
            min-height: 180px;
        }
    }

    .benefit {
        &__left {
            & img {
                &:first-child {
                    max-width: 300px;
                    max-height: 200px;
                    width: 100%;
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }

    .popular {
        &__top {
            &-line {
                display: none;
            }
        }

        &__item {
            position: relative;

            &-overlay {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 5;
                display: block;
            }

            & .button {
                display: none;
            }

            &-subtitle {
                margin-bottom: 0;
            }

            & img {
                margin-bottom: 10px;
                height: 130px;
            }

            & a {
                margin-top: 0;
                max-width: none;
            }

            &-mobile {
                display: flex;
                margin-left: auto;
                margin-bottom: 5px;

                & svg {
                    max-width: 30px;
                }
            }
        }
    }

    .about {
        &__wrapper {
            flex-direction: column;
            margin-top: 0;
        }

        &__item {
            width: 100%;
        }
    }

    .portfolio {
        &__right {
            & img {
                max-height: 180px;
            }
        }

        &__mobile {
            padding: 30px 15px 15px 15px;
        }

        &__text {
            margin-bottom: 20px;
        }

        &__left {
            padding: 15px 15px 30px 15px;
        }
    }

    .price {
        &__line {
            display: none;
        }

        & h2 {
            text-align: center;
        }
    }

    .slider {
        &__right {
            width: 100%;

            & img {
                display: none;
            }
        }

        &__left {
            width: 100%;
        }

        &__row {
            flex-direction: column-reverse;
        }
    }

    .swiper {
        &-slide {
            max-height: 300px;
        }
    }

    .review {
        &__item {
            width: 100%;
        }
    }

    .form {
        &__top {
            flex-direction: column;
            gap: 5px;

            & input {
                width: 100%;
            }
        }
    }

    .faq {
        &__wrapper {
            gap: 5px;
        }
    }

    .footer {
        &__list {
            width: calc(50% - 10px);

            &:last-child {
                width: 100%;
            }
        }

        &__nav {
            flex-wrap: wrap;
            justify-content: start;
        }
    }
}